.habit-title {
    text-align: center;
    font-size: 2rem;
    color: #000000; /* Яркий цвет для заголовка */
    margin-bottom: 20px;
  }
  
  .habit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .habit-input, .habit-select {
    padding: 30px;
    font-size: 1rem;
    width: 600px;
    border: 2px solid #ff8800;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .habit-input:focus, .habit-select:focus {
    border-color: #ff8800;
  }
  
  .habit-button {
    padding: 10px 20px;
    background-color: #f07400;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .habit-button:hover {
    background-color: #ff9500;
  }
  
  .habit-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .habit-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px solid #f57600;
    font-size: 1.1rem;
  }
  
  .habit-checkbox {
    transform: scale(1.2);
  }
  
  .habit-name {
    flex-grow: 1;
  }
  
  .delete-button {
    background-color: #ff9500;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff9500;
  }
  