<div class="mood-tracker-container">
  <h2>Mood Tracker</h2>
  <div class="mood-form">
      <label for="mood">Mood:</label>
      <input [(ngModel)]="newMood.mood" class="input-field" id="mood" placeholder="e.g., Happy, Sad">
      <label for="note">Note:</label>
      <textarea [(ngModel)]="newMood.note" class="input-field" id="note" placeholder="Optional note"></textarea>
      <button (click)="saveMood()" class="save-mood-button">Save Mood</button>
  </div>

  <h3 class="text-xl font-semibold text-white mt-8">Mood History:</h3>
  <ul class="mood-history">
      <li *ngFor="let mood of moods">
          <strong class="mood-date">{{ mood.date }}</strong>: <span class="mood-type">{{ mood.mood }}</span> — {{ mood.note }}
      </li>
  </ul>

  <div class="chart-container">
    <canvas id="moodChart"></canvas>
  </div>
</div>
  