body {
    background: linear-gradient(120deg, #fb3aee, #33b2d8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
  }

  
  .login-container {
    max-width: 500px;
    margin: 200px auto;
    padding: 40px 40px;
    background: linear-gradient(120deg, #ffaa00, #26253a);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h2 {
    margin-bottom: 25px;
    color: #333;
    font-size: 40px;
  }

  .form-group {
    margin-bottom: 10px;
    text-align: left;
  }

  label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cdd6f3;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }

  input:focus {
    outline: none;
    border-color: #7aa0f7;
    box-shadow: 0 0 5px rgba(122, 160, 247, 0.4);
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #6c6a6a;
  }

  .error {
    margin-top: 15px;
    color: #d9534f;
    font-weight: bold;
  }
